body {
    background-color: #ECF8F9;
}


.homePageMainDiv {
    margin-top: 4.5%;
    /* margin-bottom: 10%; */
}


.homePageFirstDiv {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-bottom: 10%;
}


.homePageParagraphAndBtnDiv {
    padding-right: 1rem;
    width: 50%;
    padding-left: 3%;
    padding-top: 4%;
}


.homePage-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3%;
    padding-top: 5;
    padding-right: 18%;
    margin-top: 11%;
}


.homePageFirstBtn {
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    border-width: 1px;
    border-color: #7E1717;
    font-weight: 700;
    color: #ECF8F9;
    background-color: #7E1717;
    cursor: pointer;
}


.homePageSecondBtn {
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    border-width: 1px;
    border-color: #7E1717;
    font-weight: 700;
    color: #ECF8F9;
    background-color: #7E1717;
    cursor: pointer;
}


.homePageFirstBtn:hover,
.homePageSecondBtn:hover {
    background-color: #E55807;
}


.homePageOrParagraph {
    display: inline-block;
    margin: 0.5rem;
}


.homePageSliderDiv {
    width: 50%;
    padding-top: 4.5%;
    padding-left: 4%;
}