ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.headerTitle {
    font-family: 'Montserrat', sans-serif;
    color: #5E0A0A;
    text-decoration: none;
}


.headerLogo {
    margin: 0;
    font-size: 1.45em;
}

.main-nav {
    margin-top: 5px;

}

.headerLogo a,
.main-nav a {
    padding: 8px 15px;
    text-transform: uppercase;
    text-align: center;
    display: block;
}

.main-nav a {
    color: #5E0A0A;
    font-size: 110%;    
    /* font-weight: bold; */
    text-decoration: none;
    font-family: 'Poppins', sans-serif;}

.main-nav a:hover {
    color: #5CA0D3;
}



.header {
    padding-top: .5em;
    padding-bottom: .5em;
    /* border: 1px solid #5E0A0A; */
    background-color: #C8E6F5;
    -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
}


/* ================================= 
    Media Queries
  ==================================== */




@media (min-width: 769px) {

    .header,
    .main-nav {
        display: flex;
    }

    .header {
        flex-direction: column;
        align-items: center;

        /* .header {
            width: 80%;
            margin: 0 auto;
            max-width: 1150px;
        } */
    }

}

@media (min-width: 1025px) {
    .header {
        flex-direction: row;
        justify-content: space-between;
    }

}


.main-nav {
    list-style: none;
    display: flex;
    gap: 20px;
}

.profile-link {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.profile-dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #C8E6F5;
    /* border: 1px solid #5E0A0A; */
    list-style: none;
    padding: 8px 0;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 120px;
    z-index: 1;
}

.dropdown-menu li {
    padding: 8px;
}

.auth-dropdown {
    position: relative;
}

.headerImgLogo {
    width: 45%;
}